extends layout

block content
  if currentUser
    form(method="post")
      label(for="message") Message: 
      br
      textarea(name="message", id="message" cols="30", rows="10" required) 
      br
      input(type="hidden", name="userId" value=currentUser._id)
      button(type="submit") Submit  
    if (errors)
      each error in errors
        ul 
          li #{error.msg}
    if (messages.length)
      each message in messages
        p #{message.user.username}
        p #{message.message}
        p #{message.formatted_date}
    else
      h2 Message Board Is Empty
  else
    h2 Please log in to messages here.
      a(href="/") Log In